$primary-Color : #d2d9e4;
$second-Color : rgba(255,255,255,0.5);
$third-Color : rgba(0,0,0,0.1);
$font-Color: #71767f;
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: sans-serif;
}
.wraper{
  width: 100vw;
  min-height: 100vh;
  background-color: $primary-Color;

  .main{
    width: 100%;
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .container{
    width: 32rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 4rem;
    box-shadow: -0.8rem -0.8rem 1.5rem $second-Color,
                1rem 1rem 1rem $third-Color;

      .container-time{
        width: 27rem;
        height: 7rem;
        background: #d1dae3;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4rem;
        position: relative;
        border: 0.4rem solid transparent;
        box-shadow: -0.8rem -0.8rem 1.5rem $second-Color,
                    1rem 1rem 1rem $third-Color,
                    inset -0.8rem -0.8rem 1.5rem $second-Color,
                    inset 1rem 1rem 1rem $third-Color;
        .container__second{
          position: absolute;
          width: 77%;
          height: 50%;
          left: 2.1rem;
          bottom: 2.1rem;
          white-space: nowrap;
          .size{
            font-size: 4rem;
            font-weight: bold;
            color: $font-Color;
            display: inline-block;
          }
        }
      }
      .container-buttons{
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        .buttons{
          display: flex;
          align-items: center;
          justify-content: center;
          width: 6rem;
          height: 4rem;
          font-size: 2rem;
          color: $font-Color;
          border-radius: 100%;
          border: none;
          background: $primary-Color;
          box-shadow: -0.8rem -0.8rem 1.5rem $second-Color,
          1rem 1rem 1rem $third-Color;

          .icon{
            width: 1.5rem;
          }
        }
        .buttons:active{
          border: 0.4rem solid transparent;
          box-shadow:inset -0.8rem -0.8rem 1.5rem $second-Color,
          inset 1rem 1rem 1rem $third-Color;
        }
        .buttons:focus{
          outline: none;
        }
      }
      .newTime{
        box-shadow:inset -0.8rem -0.8rem 1.5rem $second-Color,
                  inset 1rem 1rem 1rem $third-Color;
        width: 70%;
        height: 10rem;
        border-radius: 0.8rem;
      }
    }
  }
}
