$primary-Color : #d2d9e4;
$second-Color : rgba(255,255,255,0.5);
$third-Color : rgba(0,0,0,0.1);
$font-Color: #71767f;
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: sans-serif;
}
.wraper{
  width: 100vw;
  min-height: 100vh;
  background-color: $primary-Color;

  .main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .container{
    width: 32rem;
    height: 53rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 0;
    border-radius: 4rem;
    box-shadow: -0.8rem -0.8rem 1.5rem $second-Color,
                1rem 1rem 1rem $third-Color;

    .container-CurrentDate{
      display: flex;
      justify-content: space-around;
      width: 27rem;
      height: 7rem;
      align-items: center;
      border-radius: 4rem;
      padding: 0 0.4rem;
      border: 0.4rem solid transparent;
      box-shadow: -0.8rem -0.8rem 1.5rem $second-Color,
                  1rem 1rem 1rem $third-Color,
                  inset -0.8rem -0.8rem 1.5rem $second-Color,
                  inset 1rem 1rem 1rem $third-Color;
    }
      .container-time{
        width: 27rem;
        height: 7rem;
        background: #d1dae3;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4rem;
        position: relative;
        box-shadow: inset -0.8rem -0.8rem 1.5rem $second-Color,
                    inset 1rem 1rem 1rem $third-Color;

        .container__second{
          position: absolute;
          width: 77%;
          height: 50%;
          left: 2.1rem;
          bottom: 2.1rem;
          white-space: nowrap;
          .size{
            font-size: 4rem;
            font-weight: bold;
            color: $font-Color;
            display: inline-block;
          }
        }
      }
      .container-buttons{
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        .buttons{
          display: flex;
          align-items: center;
          justify-content: center;
          width: 6rem;
          height: 4rem;
          font-size: 2rem;
          color: $font-Color;
          border-radius: 100%;
          border: none;
          background: $primary-Color;
          box-shadow: -0.8rem -0.8rem 1.5rem $second-Color,
          1rem 1rem 1rem $third-Color;

          .icon{
            width: 1.5rem;
          }
        }
        .buttons:active{
          border: 0.4rem solid transparent;
          box-shadow:inset -0.8rem -0.8rem 1.5rem $second-Color,
                              inset 1rem 1rem 1rem $third-Color;
        }
      }
      .main-newTime{
        box-shadow:inset -0.8rem -0.8rem 1.5rem $second-Color,
                  inset 1rem 1rem 1rem $third-Color;
        width: 70%;
        height: 16rem;
        border-radius: 0.8rem;
        font-size: 1.5rem;
        color: $font-Color;
        overflow-x: hidden;
        overflow-y:inherit;

        .container-newTime{
          padding: 0.8rem;
          display: flex;
          height: 100%;
          justify-content: space-evenly;

          .newTimeNum{
            margin: 0.2rem 0;
            padding: 0.1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.5rem;
            color: $font-Color;
            width: 2.1rem;
            height: 1.5rem;
            border-radius: 20%;
            border: 0.1rem solid $font-Color;
          }
          .newTimeNum2{
            margin: 0.2rem 0;
            padding: 0.2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.5rem;
            color: $font-Color;
            height: 1.5rem;
          }
          .newTime{
            height: 100%;
            font-size: 1.5rem;
            margin: 0.1rem 0;
            padding-left: 0.5rem;
          }
        }
      }
      .main-newTime::-webkit-scrollbar{
        width: 10px;
        background: $primary-Color;
        box-shadow: inset -0.8rem -0.8rem 1.5rem $second-Color,
        inset 1rem 1rem 1rem $third-Color;
      }
      .main-newTime::-webkit-scrollbar-thumb {
        border-radius: 1rem;
        background-color: $font-Color;
        width: 0.5rem;
        border: 0.2rem solid  $primary-Color;
      }
    }
  }
}
.button-Off-ON{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6rem;
  height: 4rem;
  font-size: 2rem;
  color: $font-Color;
  border-radius: 100%;
  border: none;
  background: $primary-Color;
  box-shadow: -0.8rem -0.8rem 1.5rem $second-Color,
  1rem 1rem 1rem $third-Color;
  transform: translate(-50%, -50%);
  text-align: center;
}
.switch{
  position: relative;
  display: inline-block;
  width: 11rem;
  height: 6rem;
  margin: 0 1rem;
}
.slider{
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ccc;
  transition: .4s;
  border-radius: 3.4rem;
}

.button-Off-ON:active{
  border: 0.4rem solid transparent;
  box-shadow:inset -0.8rem -0.8rem 1.5rem $second-Color,
  inset 1rem 1rem 1rem $third-Color;
}

.size{
  font-size: 4rem;
  font-weight: bold;
  color: $font-Color;
  display: inline-block;
}
.newTimeNum3{
  margin: 0.2rem 0;
  padding: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: $font-Color;
  height: 1.5rem;
}
