$primary-Color : #d2d9e4;
$second-Color : rgba(255,255,255,0.5);
$third-Color : rgba(0,0,0,0.1);
$font-Color: #71767f;
$shadow-Outset: -0.8rem -0.8rem 1.5rem $second-Color, 1rem 1rem 1rem $third-Color;
$shadow-Inset: inset -0.8rem -0.8rem 1.5rem $second-Color, inset 1rem 1rem 1rem $third-Color;
$rem15: 1.5rem;
@mixin flexCenter{
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flexSpace-Around{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: sans-serif;
}
.wraper{
  width: 100vw;
  min-height: 100vh;
  background-color: $primary-Color;

  .main{
    width: 100%;
    min-height: 100vh;
    @include flexCenter();
    flex-direction: column;

    .container{
    width: 32rem;
    height: 53rem;
    @include flexSpace-Around();
    flex-direction: column;
    padding: 2rem 0;
    border-radius: 4rem;
    box-shadow: $shadow-Outset;

    .container-CurrentDate{
      @include flexSpace-Around();
      width: 27rem;
      height: 7rem;
      border-radius: 4rem;
      padding: 0 0.4rem;
      border: 0.4rem solid transparent;
      box-shadow: $shadow-Outset, $shadow-Inset;
    }
      .container-time{
        width: 27rem;
        height: 7rem;
        background: #d1dae3;
        @include flexCenter();
        border-radius: 4rem;
        position: relative;
        box-shadow: $shadow-Inset;

        .container__second{
          position: absolute;
          width: 77%;
          height: 50%;
          left: 2.1rem;
          bottom: 2.1rem;
          white-space: nowrap;
          .size{
            font-size: 4rem;
            font-weight: bold;
            color: $font-Color;
            display: inline-block;
          }
        }
      }
      .container-buttons{
        width: 80%;
        @include flexSpace-Around();
        .buttons{
          @include flexCenter();
          width: 6rem;
          height: 4rem;
          color: $font-Color;
          border-radius: 100%;
          border: none;
          background: $primary-Color;
          box-shadow:$shadow-Outset;
          outline: none;

          .icon{
            width: $rem15;
          }
        }
        .buttons:active{
          border: 0.4rem solid transparent;
          box-shadow:$shadow-Inset;
        }
        .buttons:focus{
          outline: none;
        }
      }
      .main-newTime{
        box-shadow:$shadow-Inset;
        width: 70%;
        height: 16rem;
        border-radius: 0.8rem;
        font-size: $rem15;
        color: $font-Color;
        overflow-x: hidden;
        overflow-y:inherit;

        .container-newTime{
          padding: 0.8rem;
          display: flex;
          height: 100%;
          justify-content: space-evenly;

          .newTimeNum{
            margin: 0.2rem 0;
            padding: 0.1rem;
            @include flexCenter();
            font-size: $rem15;
            color: $font-Color;
            width: 2.1rem;
            height: 1.5rem;
            border-radius: 20%;
            border: 0.1rem solid $font-Color;
          }
          .newTimeNum2{
            margin: 0.2rem 0;
            padding: 0.2rem;
            @include flexCenter();
            font-size: $rem15;
            color: $font-Color;
            height: 1.5rem;
          }
          .newTime{
            height: 100%;
            font-size: $rem15;
            margin: 0.1rem 0;
            padding-left: 0.5rem;
          }
        }
      }
      .main-newTime::-webkit-scrollbar{
        width: 10px;
        background: $primary-Color;
        box-shadow: $shadow-Inset;
      }
      .main-newTime::-webkit-scrollbar-thumb {
        border-radius: 1rem;
        background-color: $font-Color;
        width: 0.5rem;
        border: 0.2rem solid  $primary-Color;
      }
    }
  }
}
.button-Off-ON{
  @include flexCenter();
  width: 7rem;
  height: 4rem;
  color: $font-Color;
  border-radius: 5rem;
  border: none;
  background: $primary-Color;
  box-shadow:$shadow-Inset;
  text-align: center;
  outline: none;
}
.switch{
  position: relative;
  width: 90%;
  height: 80%;
  border-radius: 5rem;
}
.switch input{ display: none;}
.switchTextOn{
  font-size: $rem15;
  position: absolute;
  top: 0.7rem;
  left: 3.8rem;
}
.switchTextOff{
  font-size: $rem15;
  position: absolute;
  top: 0.7rem;
  left: .8rem;
}
.slider{
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $primary-Color;
  transition: .4s;
  border-radius: 3.4rem;
}
.slider:before{
  position: absolute;
  content: "";
  height: 2.5rem;
  width: 2.5rem;
  left: 0.5rem;
  bottom: 0.4rem;
  background-color: #fff;
  transition: 0.4s;
  border-radius: 5rem;
  background: $font-Color;
}

input:checked + .slider:before{
  transform: translateX(2.8rem);
  background: $font-Color;
}
.size{
  font-size: 4rem;
  font-weight: bold;
  color: $font-Color;
  display: inline-block;
}
.newTimeNum3{
  margin: 0.2rem 0;
  padding: 0.2rem;
  @include flexCenter();
  font-size: $rem15;
  color: $font-Color;
  height: 1.5rem;
}
